.recruit-view{
  background-color: #F3F3F3;
  height: 100%;
  .page-body{
    padding: 0 15px;
  }
  .content-chunk{
    background-color: white;
  }
  .search-from{
    padding: 20px 20px 10px;
  }
  .recruit-table{
    margin-top: 0;
  }
}