.search-reset{
  //margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 5px;
  //background-color: #f4f4f4;
  .row{
    margin-bottom: 10px;
  }
  .form-control{
    display: inline-block;
    //width: 270px;
  }
  .search-date{
    display: inline-block;
    padding-right: 0;
    padding-left: 5px;
    margin-right: 10px;
  }
  .search-date-span{
    margin-right: 0;
  }
  .col-md-1{
    text-align: right;
  }

}
.table-model {
  padding: 15px;
  margin-top: 20px;
  .table{
    font-size: 14px;
    margin-bottom: 0;
  }
  tbody tr{
    cursor: pointer;
  }
}
.have-done{
  position: relative;
}
.have-done .event-btn{
  padding: 3px 20px;
  background-color: #ddd;
  position: absolute;
  right: 70px;
  top: 3px;
}