.orderCom{
  width: 16px;
  height: 22px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  overflow: hidden;
  position: absolute;
  span{
    float: left;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    cursor: pointer;
  }
  .desc{
    border-bottom: 8px solid #aaa;
    margin-bottom: 4px;
    margin-top: -8px;
  }
  .asc{
    border-top: 8px solid #aaa;
  }
}